<ion-header>
  <ion-toolbar>
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" routerLink="/alert">
    alert
  </ion-button>
  <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" routerLink="/action-sheet">
    Action Sheet
  </ion-button> -->

  <ion-list >
    <ion-item *ngFor="let c of componentes" [routerLink]="c.redirectTo" detail>
        <ion-icon slot="start" [name]="c.icon" color="primary" ></ion-icon>
        {{c.name}}
    </ion-item>
  </ion-list>
</ion-content>
